<div class='center'>
    <h1>Room</h1>
    <div id='messages'>
    </div>

    <form id='message_form' class='chat-form-content'>

        <label type='text' for='author'>Remetente:</label>
        <input type='text' id='author' />

        <label type='text' for='message_to_sent'>Messagem:</label>
        <input type='text' id='message_to_sent' autocomplete='off'/>

        <input type='submit' value='Enviar'</>
    </form>
</div>