<div class='center'>
    <h1>Room</h1>
    <div id='messages'>
    </div>

    <form class='chat-form-content'>
        <label type='text' for='message_to_sent'>Messagem:</label>
        <input type='text' for='message_to_sent' autocomplete='off'/>
    </form>
</div>